<html>
  <head>
    <meta charset="utf-8" />
    <style>
        .qr-image{
            width: 200px;
            height: 200px;
        }


    </style>
    <title>Item Details</title>
  </head>
  <body>
    <h1>Certificado de votación {{election_name}}</h1>

    <p>El voto del usuario ha sido validado con exito</p>
    <p>Codigo de papeleta: {{hash_vote}}</p>
    <p>Fecha de validación: {{cast_at}}</p>
    <p>Puedes <a href="{{link_ballot}}">verificar aquí</a> que tu codigo esta en la papeleta</p>
    <img class="qr-image" src="data:image/png;base64,{{ img_str }}">
  </body>
</html>
